body {
    color: #fff;
    background-color: #2B2D31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
}

.tarefa-item {
    display: flex;
    width: Fixed (622px)px;
    height: Hug (320px)px;
    top: 351px;
    left: 445px;
}

#tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-state {
    width: 426px;
    height: 50px;
    margin-top: 50px;
    left: 543px;
    text-align: center;
}

#logo {
    margin-top: 118px;
}

#titulo {
    width: 613px;
    height: 51px;
    font-size: 24px;
    margin-top: 76px;
    left: 449px;
    border: 1px;
    border-bottom: 1px solid #3C4043
}


.tarefa-item button {
    margin-left: 10px;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.tarefa-item img {
    width: 20px;
    height: 20px;
}


.span-1 {
    width: 426px;
    height: 29px;
    font-size: 24px;
    margin-top: 55px;
    left: 543px;
    color: #FFFFFF;
}

.span-2 {
    width: 372px;
    height: 17px;
    font-size: 14px;
    top: 540px;
    left: 570px;
    color: #BDBDBD;
}

#button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 622px;
    height: 79px;
    margin-top: 70px;
    left: 445px;
    padding: 10px 16px 10px 16px;
    gap: 4px;
    border-radius: 8px 8px 8px 8px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px dashed #989898;
    background-color: transparent;
    color:#989898;
}

#button:hover {
    border-left: 2px dashed #ffffff; 
    border-right: 2px dashed #ffffff; 
    border-bottom: 2px dashed #ffffff; 
    border-top: 2px dashed #989898; 
}

.img {
    width: 24px;
    height: 24px;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50vw;
    height: 100vh;
    background: #2B2D31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}


#menu.opened {
    transform: translateX(0%);
}

.menu-content {
    height: 302px;
    top: 340px;
    left: 183px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-font {
    width: 53px;
    font-size: 16px;
    line-height: 19.36px;
    color:#FFFFFF;
    height: 19px;
}

#desc-salvar {
    width: 478px;
    height: 56px;
    top: 204px;
    left: 182px;
    gap: 8px;
    color: #BDBDBD;
}

#closed {
    position: absolute;
    top: 6px;
    right : 6px;
    background: none;
    border: none;
}

.desc-font {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

#desc_content {
    width: 422px;
    height: 168px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    background: #35373C;
    border: 1px solid #535353;
    color:#FFFFFF;
}


#nome_content {
    width: 422px;
    height: 48px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    background: #35373C;
    border: 1px solid #535353;
    color:#FFFFFF;
}

#fechar {
    width: 85px;
    height: 56px;
    top: 292px;
    left: 1676px;
    padding: 10px 16px 10px 16px;
    gap: 4px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    
}

#fechar:hover {
    width: 85px;
    height: 56px;
    top: 685px;
    left: 1676px;
    padding: 10px 16px 10px 16px;
    gap: 4px;
    border-radius: 8px;
    background: #444444;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: #FFFFFF;
}

#salvar {
    width: 164px;
    height: 56px;
    top: 792px;
    left: 441px;
    padding: 10px 16px 10px 16px;
    gap: 4px;
    border-radius: 8px;
    background: #1D46CA;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: #FFFFFF;
}

#salvar:hover{
    background: #11276E;
}


#buttons-style {
    display: flex;
    justify-content: flex-end;
    gap: 4px
}

.task-list {
    width: 622px;
    height: 320px;
    top: 351px;
    left: 445px;
}

.task-content {
    width: 622px;
    height: 80px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
    width: 622px;
    height: 0px;
    top: 311px;
    left: 445px;    
    border-bottom: 1px solid #3C4043
}

.botton-edit {
    width: 19px;
    height: 19px;
}

.botton-delete {
    width: 24px;
    height: 24px;
}

#list {
    width: 622px;
    height: 320px;
    top: 351px;
    left: 445px;
}

#task-list {
    width: 622px;
    height: 80px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
}

#check {
    width: 32px;
    height: 32px;
}

#task-content {
    width: 310px;
    height: 38px;
    gap: 4px;
}

#button-edit {
    width: 19px;
    height: 19px;
}

#button-delete {
    width: 24px;
    height: 24px;
   
}

#button-edit,
#button-delete {
    border: 1.5px solid #989898;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    margin-bottom: 10px;
}

.task-container input[type="checkbox"] {
    background-color: #FFFFFF;
}

.task-container span {
    font-size: 16px;
    margin-left: 10px; 
}

.task-container .buttons {
    display: flex;
    gap: 5px; 
}

.task-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.task-container button img {
    width: 20px;
    height: 20px;
}