body {
    color: #fff;
    background-color: #2B2D31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    overflow-x: hidden;
    margin: 0;
}

#tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-state {
    width: 426px;
    height: 50px;
    margin-top: 50px;
    left: 543px;
    text-align: center;
}

#logo {
    margin-top: 118px;
}

#titulo {
    width: 613px;
    height: 51px;
    font-size: 24px;
    margin-top: 76px;
    left: 449px;
    border: 1px;
    border-bottom: 1px solid #3C4043
}

.span-1 {
    width: 426px;
    height: 29px;
    font-size: 24px;
    margin-top: 55px;
    left: 543px;
    color: #FFFFFF;
}

.span-2 {
    width: 372px;
    height: 17px;
    font-size: 14px;
    top: 540px;
    left: 570px;
    color: #BDBDBD;
}

#button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 622px;
    height: 79px;
    margin-top: 32px;
    left: 445px;
    padding: 10px 16px 10px 16px;
    gap: 4px;
    border-radius: 8px 8px 8px 8px;
    border: 2px;
    border: 2px dashed #989898;
    background-color: transparent;
    color:#989898;
    cursor: pointer
}

#button:hover {
    border: 2px dashed #ffffff; 
    color: #FFFFFF
}

#button:hover > svg > path{
    stroke: #FFFFFF;
}

.img {
    width: 24px;
    height: 24px;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 50vw;
    height: 100%;
    background: #2B2D31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

#menu.opened {
    transform: translateX(0%);
}

.menu-content {
    width: 422px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

#input-name{
    display: flex;
    flex-direction: column;
}

#textarea-desc{
    display: flex;
    flex-direction: column;
}

.nome-font {
    width: 53px;
    font-size: 16px;
    line-height: 19.36px;
    color:#FFFFFF;
    height: 19px;
}

#closed {
    position: absolute;
    top: 18px;
    right : 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.desc-font {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

#desc-content {
    height: 168px;
    padding: 10px 16px 10px 16px;
    margin-top: 10px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    background: #35373C;
    border: 1px solid #535353;
    color:#FFFFFF;
}


#nome-content {
    height: 48px;
    padding: 10px 16px 10px 16px;
    margin-top: 10px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    background: #35373C;
    border: 1px solid #535353;
    color:#FFFFFF;
}

#fechar {
    width: 85px;
    height: 56px;
    top: 292px;
    left: 1676px;
    padding: 10px 16px 10px 16px;
    gap: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    background-color: #2B2D31;
    color:#FFFFFF
}

#fechar:hover {
    width: 85px;
    height: 56px;
    top: 685px;
    left: 1676px;
    padding: 10px 16px 10px 16px;
    gap: 4px;
    border-radius: 8px;
    background: #444444;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    cursor: pointer
}

#salvar {
    width: 164px;
    height: 56px;
    top: 792px;
    left: 441px;
    padding: 10px 16px 10px 16px;
    gap: 4px;
    border-radius: 8px;
    background: #1D46CA;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

#salvar:hover{
    background: #11276E;
    cursor: pointer;
}

#buttons-style {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    margin-top: 60px;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 1rem;
}

.task-container {
    display: flex;
    align-items: center; 
    width: 622px;
    height: 80px;
    gap: 16px;
}

.task-container:hover {
    background: #3d3f45;
}

.checkbox-container input[type="checkbox"] {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.task-info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 310px;
    height: 38px;
    gap: 4px;
    overflow: hidden;
}

.task-info-container .task-name {
    width: 310px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #FFFFFF;
}

.task-info-container .task-descricao {
    width: 310px;
    height: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    color: #BDBDBD;
}

.button-1 {
    cursor: pointer;
    margin-right: 4px;
    background: none;
    border: none;
}

.button-2 {
    background: none;
    border: none;
    cursor: pointer;
}

.empty_state_new {
    width: 426px;
    height: 50px;
    text-align: center;
}

.span_1 {
    width: 426px;
    height: 29px;
    font-size: 24px;
    top: 55px;
    color: #FFFFFF;   
}

.span_2 {
    width: 372px;
    height: 17px;
    font-size: 14px;
    top: 540px;
}